.adminContainer{
    display: flex;
    position: fixed;
    flex-grow: 1;
    width: 100%;
    height: 100%;
    background-color: white;
    flex-direction: column;
}

.adminBody{
    display: flex;
    flex-direction: column;
    flex-grow: 10;
    background-color: white;
}

.adminMenu{
    display: flex;
    flex-direction: column;
    height: 1cm;
    flex-grow: 0;
    justify-content: center;
    flex-direction: row;
    background-color: aliceblue;
}

    .adminbutton{
        margin-top: 0.3cm;
        margin-left: 1cm;
        margin-right: 1cm;
        height: 1cm;
        width: 3.3cm;
        border-radius: 10px;
        text-align: center;
    }
    
/*            position: absolute;*/
    


