.viewContainer{
    display: flex;
    position: fixed;
    flex-grow: 1;
    width: 100%;
    height: 95%;
    flex-direction: row;
    align-items: flex-start;
    flex-wrap: wrap;
    justify-content: flex-start;
}


    .viewLine{
        display: flex;
        flex-grow: 0;
        height: 1cm;
        margin-left: 1cm;
        width: 100%;
        flex-direction: row;
    }
        .clickLine{
            display: flex;
            height: 1cm;
            width: 80%;       
            font-size: 150%;
            font-weight: bold;
            align-items: center;
        }
        .viewButtonPauseAll{
            background-color: orangered;
            font-weight: bold;
            border-radius: 10px;
            margin-right: 0.5cm;
        }

        .viewButtonStartAll{
            background-color: yellowgreen;
            font-weight: bold;
            border-radius: 10px;
            margin-right: 0.5cm;
        }


        .viewBox{
            margin-top: 0.5cm;
            margin-bottom: 0.5cm;
            margin-left: 1.6cm;
            display: flex;
            width: 6.3cm;
            height: 5cm;
            border-radius: 10px;        
            border-width: 0cm;
            flex-direction: column;
            align-items: right;
            justify-content: flex-start;
            background: palegoldenrod;
        }
        .viewBoxNotActive{
            margin-top: 0.5cm;
            margin-bottom: 0.5cm;
            margin-left: 1.6cm;
            display: flex;
            width: 6.3cm;
            height: 5cm;
            border-radius: 10px;        
            border-width: 0cm;
            flex-direction: column;
            align-items: right;
            justify-content: flex-start;
            background-color: grey;
        }

        .viewBox:active{
            background-color: yellowgreen;
        }
            .viewPause{ 
                border-top-right-radius: 10px;
                width: 2cm;
                height: 0.7cm;
                text-align: center;
                border-bottom-width: 0.05cm;
                border-bottom-style: dashed;
                background-color: red;
            }
            
            .hiddenPause{  
                border-top-right-radius: 10px;
                width: 2cm;
                height: 0.7cm;
                text-align: center;
                border-bottom-width: 0.05cm;
                border-bottom-style: dashed;
                background-color: red;
                display: none;
            }

            .canngangviewBox{
                flex-grow: 0;
                display: flex;
                flex-direction: row;
            }

            .candocviewBox{
                flex-grow: 0;
                display: flex;
                flex-direction: column;
            }
            
            .viewId{
                border-top-left-radius: 10px;
                width: 2cm;
                height: 2cm;
                display: flex;
                border-style: solid;
                border-width: 0.05cm;
            }
                .viewTopId{
                    font-size: 0.4cm;
                    border-top-left-radius: 10px;
                    width: 2cm;
                    height: 0.7cm;
                    text-align: center;
                    border-bottom-width: 0.05cm;
                    border-bottom-style: dashed;
                }
            
                .viewBodyId{
                    width: 2cm;
                    height: 1.3cm;
                    text-align: center;
                }
                    .viewTextBodyId{
                        margin: 0.01;
                        line-height: 0;
                        line-break: 0;
                        font-size: 190%;
                    }

            .viewDelay{
                width: 2cm;
                height: 2cm;
                display: flex;
                border-style: solid;
                border-width: 0.05cm;
            }
            .viewMove{
                border-top-right-radius: 10px;
                width: 2cm;
                height: 2cm;
                display: flex;
                border-style: solid;
                border-width: 0.05cm;
            }

            
            .viewCount{
                border-bottom-left-radius: 10px;
                width: 3.05cm;
                height: 2.8cm;
                display: flex;
                border-style: solid;
                border-width: 0.05cm;
            }

                .viewTopCount{
                    width: 3cm;
                    height: 0.7cm;
                    text-align: center;
                    border-bottom-width: 0.05cm;
                    border-bottom-style: dashed;
                }
                
                
@-webkit-keyframes blinker {
    from {opacity: 1.0;}
    to {opacity: 0.0;}
  }
                
                .viewBodyCount{
                    width: 3.05cm;
                    height: 2.1cm;
                    text-align: center;
                    vertical-align: center;
                    margin-top: 0.4cm;
                    font-size: 250%;
                    text-decoration: blink;
                    -webkit-animation-name: blinker;
                    -webkit-animation-duration: 0.6s;
                    -webkit-animation-iteration-count:infinite;
                    -webkit-animation-timing-function:ease-in-out;
                    -webkit-animation-direction: alternate;
                }

            .viewDelayCount{
                border-bottom-right-radius: 10px;
                width: 3.05cm;
                height: 2.8cm;
                display: flex;
                border-style: solid;
                border-width: 0.05cm;
            }

            .viewBodyCountNotActive{
                width: 3.05cm;
                height: 2.1cm;
                text-align: center;
                vertical-align: center;
                margin-top: 0.4cm;
                font-size: 250%;
            }

        .viewDelayCountNotActive{
            border-bottom-right-radius: 10px;
            width: 3.05cm;
            height: 2.8cm;
            display: flex;
            border-style: solid;
            border-width: 0.05cm;
        }
.zz{
    display: flex;
    width: 100%;
    height: 90%;
    flex-grow: 0;
    flex-direction: row;
    flex-wrap: wrap;
    overflow-x: hidden;
    overflow-y: scroll;
}

.view_box_change1{
    height: 6cm;
    width: 15cm;
    display: flex;
    flex-direction: row;
    position: absolute;
}

.hidden_box_change{
    height: 4cm;
    width: 10cm;
    display: flex;
    flex-direction: row;
    position: absolute;
    display: none;
}

    .left_box_change{
        flex-grow: 0;
    }

    .right_box_change{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        flex-grow: 0;
    }
        .button_submit_change{
            width: 2cm;
            height: 1.5cm;
            border-radius: 9px;
        }
        .button_submit_change:active
        {
            background-color: aqua;
        }
    
        .button_stop_change{
            width: 2cm;
            height: 1.5cm;
            border-radius: 9px;
            background-color: orangered;
        }
        .button_stop_change:active{
            background-color: white;
        }

        .button_view_start_change{
            width: 2cm;
            height: 1.5cm;
            border-radius: 9px;
            background-color: yellowgreen;
        }
        .button_view_start_change:active{
            background-color: white;
        }
